aiohttp==3.13.4
aiosignal==1.4.0
APScheduler==3.11.2
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
frozenlist==1.8.0
idna==3.11
multidict==6.7.1
mutagen==1.47.0
pillow==12.2.0
propcache==0.4.1
psutil==7.2.2
python-dotenv==1.0.0
python-telegram-bot==22.7
requests==2.33.0
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
yarl==1.22.0
catboxpy

# yandex-music и yandex-music-downloader из конкретных архивов (форки)
yandex-music @ https://github.com/llistochek/yandex-music-api/archive/9623fbca7704f47766614efe51d66c9fd496714c.zip
yandex-music-downloader @ https://github.com/llistochek/yandex-music-downloader/archive/main.zip
